.container-pass {
  width: 350px;
  padding: 20px;
  border: 4px solid #376ba0;
  border-radius: 10px;
  background-color: #ffffff;
  margin: 5rem auto;
}

legend {
  font-weight: bold;
  font-size: 25px;
}

.pass-form .pass-form-div {
  margin-bottom: 15px;
}

.pass-form .pass-form-div label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.pass-form .pass-form-div input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.pass-form .passbtn {
  /* width: 100%; */
  padding: 10px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  font-size: 15px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px 0 10px 6rem;
}

.pass-form .passbtn:hover {
  background-color: #0056b3;
}
#mismatch{
    margin-top: 10px;
    text-align: center;
    color: green;
    font-size: 18px;
    font-weight: bold;
}
